@model DailyCostWebApplication.Models.Cost
<tr>
    <td>@Model.ID</td>
    <td>@Model.Amount</td>
    <td>@Model.Category</td>
    <td>@Model.Comment</td>
    <td><a class="btn btn-primary d-block" href="#">View</a></td>
    <td><a class="btn btn-info btn-block d-block" href="#">Edit</a></td>
    <td><a class="btn btn-danger btn-block d-block" href="#">Delete</a></td>
</tr>
